{% extends 'base.html' %}

{% block titulo %}Registrar{% endblock %}

{% block conteudo %}
    <div class="login">
        <form method="post">
            <h2>Registrar</h2>
            
            <label for="login">
                <span>Login</span>
            </label>
            <input type="text" name="login" id="login" placeholder="Digite o nome do usuário" required>
    
            <label for="senha">
                <span>Senha</span>
            </label>
            <input type="password" name="senha" id="senha" placeholder="Digite a senha" required>

            <label for="confirmacao">
                <span>Confirme a senha</span>
            </label>
            <input type="password" name="confirmacao" id="confirmacao" placeholder="Confirme a senha" required>
    
            <button type="submit">Registrar</button>
        </form>

    </div>
{% endblock %}