.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25rem;
    padding: 50px;
    
}

html, body {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    background-color: #b8e6e9;
}

header h1 {
    background-color: gray;
    margin: 0 0 5% 0;
    padding: 15px;
    border-bottom: 3px solid black;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    width: 30%;
    margin: auto;
    unicode-bidi: normal;
    padding: 0;
}

.error {
    background-color: rgba(255, 0, 0, 0.547);
    margin-bottom: 5px;
    padding: 5px;
    min-width: 50%;
}

li {
    font-size: large;
}

form {
    background-color: rgb(115, 195, 221);
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    height: 100%;
    box-shadow: 5px 3px 10px black;
}

form h2 {
    align-self: center;
}

input {
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    outline: none;
}


button {
    padding: 2px;
    width: 40%;
    height: 20%;
    align-self: center;
    margin-top: 25px;
    font-size: medium;
    border-radius: 5px;
    border-style: outset;
}

button:active {
    border-style: inset;
}