{% from 'bootstrap5/form.html' import render_form %}

<!DOCTYPE html>
<html lang="pt-br" class="h-100">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>To-Do</title>
            {% block style %}
                {{ bootstrap.load_css() }}
            {% endblock %}
        {% endblock %}
    </head>
    <body class="h-100">
        {% block content %}
        {% endblock %}

        {% block scripts %}
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>