{% from 'bootstrap5/form.html' import render_form %}
{% from 'bootstrap5/utils.html' import render_static%}

<!DOCTYPE html>
<html lang="pt-br" class="h-100">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{{url_for('static', filename= 'style.css')}}">
            <title>To-Do</title>
            {% block style %}
                {{ bootstrap.load_css() }}
            {% endblock %}
        {% endblock %}
    </head>
    <body class="">
        {{render_static('css', 'style.css')}}
        {% block content %}
        {% endblock %}

        {% block scripts %}
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>