<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{%block titulo %}{%endblock%}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    </head>
    <body>
        <header>
            {%block cabecalho%}{%endblock%}
        </header>

        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {% block conteudo %}{% endblock %}
    </body>
</html>